@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	background: black;
	margin: 0;
	overflow: hidden;
	font-size: calc(100vmin / 37);
	font-family: 'Press Start 2P', monospace;
	color: white;
	user-select: none;
}

body::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	line-height: 100vh;
	width: 100vw;
	text-align: center;
}

body.game-over::after { content: 'GAME OVER'; }
body.you-win::after { content: 'CONGRATULATIONS!'; }

#board {
	position: absolute;
	left: calc(50vw - 14em);
	top: calc(50vh - 17.5em);
	width: 28em;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 28em;
	border-spacing: 0;
}

td {
	width: 1em;
	height: 1em;
	margin: 0;
	padding: 0;
	position: relative;
}

td.wall {
	background: blue;
}

td.ghost-door {
	background: pink;
}

td.pill::before,
td.power-pill::before {
	content: '';
	width: 1em;
	height: 1em;
	display: block;
	background-image: url('images/products.png');
	background-size: 300%;
}
td.power-pill::before { animation: rotate 1s infinite; }
td.power-pill { transform: scale(2); }
@keyframes rotate {
	0%   { transform: rotate(-15deg); }
	50%  { transform: rotate( 15deg); }
	100% { transform: rotate(-15deg); }
}
td.power-pill::before      { background-position:  50%   0%; }
td.pill.dot-type-1::before { background-position:   0%   0%; }
td.pill.dot-type-2::before { background-position: 100%   0%; }
td.pill.dot-type-3::before { background-position:   0%  50%; }
td.pill.dot-type-4::before { background-position:  50%  50%; }
td.pill.dot-type-5::before { background-position: 100%  50%; }
td.pill.dot-type-6::before { background-position:   0% 100%; }
td.pill.dot-type-7::before { background-position:  50% 100%; }
td.pill.dot-type-8::before { background-position: 100% 100%; }

#actors {
	position: absolute;
	top: -1em;
	left: -2em
}

#actors > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 3em;
}

.ghost {
	border-radius: 1em 1em 0 0;
}

.ghost::before {
	content: '👀';
	display: block;
	text-align: center;
	margin-top: 0.15em;
	font-size: 1em;
}

.frightened { filter: sepia(100%) hue-rotate(130deg); }
.dead { opacity: 25%; }

#chrome {
	position: absolute;
	left: calc(50vw - 14em);
	bottom: calc(50vh - 16.5em);
	width: 28em;
	height: 1em;
	display: flex;
}

#lives { flex: auto 1 0; }
#score { flex: auto 0 0; }
#lives::before { content: 'Lives: '; }
#score::before { content: 'Score: '; }


/* ANIMATIONS */

#actors > div::before {
	width: 150%;
	height: 100%;
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: -25%;
	background-size: contain;
	background-position: 50% 50%;
	background-image: url('images/pacman/right1.png');
	background-repeat: no-repeat;
}
#actors > div.facing-left::before {
	transform: scaleX(-1);
}

#pac-man.facing-down::before { background-image: url('images/pacman/down.png'); }
#pac-man.facing-right::before,
#pac-man.facing-left::before { animation: pacman-right 1s infinite; }
#pac-man.facing-up::before   { animation: pacman-up    1s infinite; }
@keyframes pacman-right {
	0%   { background-image: url('images/pacman/right1.png'); }
	25%  { background-image: url('images/pacman/right2.png'); }
	50%  { background-image: url('images/pacman/right3.png'); }
	75%  { background-image: url('images/pacman/right4.png'); }
	100% { background-image: url('images/pacman/right1.png'); }
}
@keyframes pacman-up {
	0%   { background-image: url('images/pacman/up1.png'); }
	25%  { background-image: url('images/pacman/up2.png'); }
	50%  { background-image: url('images/pacman/up3.png'); }
	75%  { background-image: url('images/pacman/up4.png'); }
	100% { background-image: url('images/pacman/up1.png'); }
}

#blinky.facing-down::before { background-image: url('images/blinky/down.png'); }
#blinky.facing-right::before,
#blinky.facing-left::before { animation: blinky-right 1s infinite; }
#blinky.facing-up::before   { animation: blinky-up    1s infinite; }
@keyframes blinky-right {
	0%   { background-image: url('images/blinky/right1.png'); }
	25%  { background-image: url('images/blinky/right2.png'); }
	50%  { background-image: url('images/blinky/right3.png'); }
	75%  { background-image: url('images/blinky/right4.png'); }
	100% { background-image: url('images/blinky/right1.png'); }
}
@keyframes blinky-up {
	0%   { background-image: url('images/blinky/up1.png'); }
	25%  { background-image: url('images/blinky/up2.png'); }
	50%  { background-image: url('images/blinky/up3.png'); }
	75%  { background-image: url('images/blinky/up4.png'); }
	100% { background-image: url('images/blinky/up1.png'); }
}

#pinky.facing-down::before { background-image: url('images/blinky/down.png'); }
#pinky.facing-right::before,
#pinky.facing-left::before { animation: blinky-right 1s infinite; }
#pinky.facing-up::before   { animation: blinky-up    1s infinite; }

#inky.facing-down::before { background-image: url('images/blinky/down.png'); }
#inky.facing-right::before,
#inky.facing-left::before { animation: blinky-right 1s infinite; }
#inky.facing-up::before   { animation: blinky-up    1s infinite; }

#clyde.facing-down::before { background-image: url('images/blinky/down.png'); }
#clyde.facing-right::before,
#clyde.facing-left::before { animation: blinky-right 1s infinite; }
#clyde.facing-up::before   { animation: blinky-up    1s infinite; }
