@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	background: black;
	margin: 0;
	overflow: hidden;
	font-size: calc(100vmin / 35);
	font-family: 'Press Start 2P', monospace;
	color: white;
	user-select: none;
}

body.title-screen #board,
body.title-screen #chrome,
body:not(.title-screen) #title
{ display: none; }

#title {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100vw;
	height: 100vh;
	text-align: center;
}
#title img {
	width: 75vmin;
	display: block;
	margin: 5em auto;
}

/* this just precaches all the assets */
#title::before {
	position: absolute;
	left: -10000vmax;
	width: 0.01vmin;
	content: '';
	display: block;
	background-image:
		url('images/map.png'),
		url('images/products.png'),
		url('images/tape.png'),
		url('images/pacman/right1.png'),
		url('images/pacman/right2.png'),
		url('images/pacman/right3.png'),
		url('images/pacman/right4.png'),
		url('images/pacman/down1.png'),
		url('images/pacman/down2.png'),
		url('images/pacman/down3.png'),
		url('images/pacman/down4.png'),
		url('images/pacman/up4.png'),
		url('images/inky/right1.png'),
		url('images/inky/right2.png'),
		url('images/inky/right3.png'),
		url('images/inky/right4.png'),
		url('images/inky/down1.png'),
		url('images/inky/down2.png'),
		url('images/inky/down3.png'),
		url('images/inky/down4.png'),
		url('images/inky/up4.png'),
		url('images/blinky/right1.png'),
		url('images/blinky/right2.png'),
		url('images/blinky/right3.png'),
		url('images/blinky/right4.png'),
		url('images/blinky/down1.png'),
		url('images/blinky/down2.png'),
		url('images/blinky/down3.png'),
		url('images/blinky/down4.png'),
		url('images/blinky/up4.png'),
		url('images/pinky/right1.png'),
		url('images/pinky/right2.png'),
		url('images/pinky/right3.png'),
		url('images/pinky/right4.png'),
		url('images/pinky/down1.png'),
		url('images/pinky/down2.png'),
		url('images/pinky/down3.png'),
		url('images/pinky/down4.png'),
		url('images/pinky/up4.png'),
		url('images/clyde/right1.png'),
		url('images/clyde/right2.png'),
		url('images/clyde/right3.png'),
		url('images/clyde/right4.png'),
		url('images/clyde/down1.png'),
		url('images/clyde/down2.png'),
		url('images/clyde/down3.png'),
		url('images/clyde/down4.png'),
		url('images/clyde/up4.png');
}

body::before,
body::after {
	position: absolute;
	left: 0;
	display: block;
	line-height: 100vh;
	width: 100vw;
	text-align: center;
	z-index: 100000;
}
body::before {
	top: -1em;
	background: rgba(0, 0, 0, 0.75);
}
body::after { top: 1em; }

body:not(.title-screen).game-over::before { content: 'GAME OVER'; }
body.you-win::before { content: 'CONGRATULATIONS!'; }
body:not(.title-screen).game-over::after,
body.you-win::after { content: 'Press SPACE to play again'; }

#board {
	position: absolute;
	left: calc(50vw - 14em);
	top: calc(50vh - 16.5em);
	width: 28em;
	height: 31em;
	background-color: #A4906A;
	background-image: url('images/tape.png');
	background-size: 8em 4em;
	background-position: 10em 13.5em;
	background-repeat: no-repeat;
}

.map {
	width: 1em;
	height: 1em;
	margin: 0;
	padding: 0;
	position: absolute;
}

.map.pill::before,
.map.power-pill::before {
	content: '';
	width: 1em;
	height: 1em;
	display: block;
	background-image: url('images/products.png');
	background-size: 300%;
}
.map.power-pill::before { animation: rotate 1s infinite; }
.map.power-pill { transform: scale(2); }
@keyframes rotate {
	0%   { transform: rotate(-15deg); }
	50%  { transform: rotate( 15deg); }
	100% { transform: rotate(-15deg); }
}
.map.power-pill::before      { background-position:  50%   0%; }
.map.pill.dot-type-1::before { background-position:   0%   0%; }
.map.pill.dot-type-2::before { background-position: 100%   0%; }
.map.pill.dot-type-3::before { background-position:   0%  50%; }
.map.pill.dot-type-4::before { background-position:  50%  50%; }
.map.pill.dot-type-5::before { background-position: 100%  50%; }
.map.pill.dot-type-6::before { background-position:   0% 100%; }
.map.pill.dot-type-7::before { background-position:  50% 100%; }
.map.pill.dot-type-8::before { background-position: 100% 100%; }

.actor {
	position: absolute;
	top: -1em;
	left: -1em;
	width: 3em;
	height: 3em;
}

.ghost {
	border-radius: 1em 1em 0 0;
}

.ghost::before {
	content: '👀';
	display: block;
	text-align: center;
	margin-top: 0.15em;
	font-size: 1em;
}

.frightened { filter: sepia(100%) hue-rotate(130deg); }
.dead { opacity: 25%; }

#chrome {
	position: absolute;
	left: calc(50vw - 14em);
	bottom: calc(50vh - 16.5em);
	width: 28em;
	height: 1em;
	display: flex;
}

#lives { flex: auto 1 0; }
#score { flex: auto 0 0; }
#lives::before { content: 'Lives: '; }
#score::before { content: 'Score: '; }


/* WALL PARTS */

.map.wall::before {
	width: 100%;
	height: 200%;
	content: '';
	position: absolute;
	display: block;
	top: -100;
	left: 0;
	background-size: 12.5em 3em;
	background-image: url('images/map.png');
	background-repeat: no-repeat;
}
.map.internal-wall::before { background-position: -11em -0.5em; }
.map.bottom-wall::before { background-position: -5em -1.5em; height: 1.2em; }
.map.bottom-right-convex-wall::before,
.map.bottom-left-convex-wall::before { background-position: -0.5em -0.5em; }
.map.bottom-right-concave-wall::before,
.map.bottom-left-concave-wall::before { background-position: -8em -0.5em; }
.map.top-wall::before { background-position: -6.5em -0.5em; }
.map.top-right-convex-wall::before,
.map.top-left-convex-wall::before { background-position: -2em -1.5em; height: 1.2em; }
.map.top-right-concave-wall::before,
.map.top-left-concave-wall::before { background-position: -9.5em -0.5em; }
.map.right-wall::before,
.map.left-wall::before { background-position: -3.5em -0.5em; }

.map.bottom-right-convex-wall::before,
.map.top-right-convex-wall::before,
.map.bottom-left-concave-wall::before,
.map.top-left-concave-wall::before,
.map.right-wall::before
{ transform: scaleX(-1); }

.map.unstyled-wall::before { display: none; }

/* ANIMATIONS */

.actor::before {
	width: 150%;
	height: 100%;
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: -25%;
	background-size: contain;
	background-position: 50% 50%;
	background-image: url('images/pacman/right1.png');
	background-repeat: no-repeat;
}
.actor.facing-left::before {
	transform: scaleX(-1);
}

#pac-man.facing-down::before { background-image: url('images/pacman/down.png'); }
#pac-man.facing-right::before,
#pac-man.facing-left::before { animation: pacman-right 1s infinite; }
#pac-man.facing-up::before   { animation: pacman-up    1s infinite; }
@keyframes pacman-right {
	0%   { background-image: url('images/pacman/right1.png'); }
	25%  { background-image: url('images/pacman/right2.png'); }
	50%  { background-image: url('images/pacman/right3.png'); }
	75%  { background-image: url('images/pacman/right4.png'); }
	100% { background-image: url('images/pacman/right1.png'); }
}
@keyframes pacman-up {
	0%   { background-image: url('images/pacman/up1.png'); }
	25%  { background-image: url('images/pacman/up2.png'); }
	50%  { background-image: url('images/pacman/up3.png'); }
	75%  { background-image: url('images/pacman/up4.png'); }
	100% { background-image: url('images/pacman/up1.png'); }
}

#blinky.facing-down::before { background-image: url('images/blinky/down.png'); }
#blinky.facing-right::before,
#blinky.facing-left::before { animation: blinky-right 1s infinite; }
#blinky.facing-up::before   { animation: blinky-up    1s infinite; }
@keyframes blinky-right {
	0%   { background-image: url('images/blinky/right1.png'); }
	25%  { background-image: url('images/blinky/right2.png'); }
	50%  { background-image: url('images/blinky/right3.png'); }
	75%  { background-image: url('images/blinky/right4.png'); }
	100% { background-image: url('images/blinky/right1.png'); }
}
@keyframes blinky-up {
	0%   { background-image: url('images/blinky/up1.png'); }
	25%  { background-image: url('images/blinky/up2.png'); }
	50%  { background-image: url('images/blinky/up3.png'); }
	75%  { background-image: url('images/blinky/up4.png'); }
	100% { background-image: url('images/blinky/up1.png'); }
}

#pinky.facing-down::before { background-image: url('images/pinky/down.png'); }
#pinky.facing-right::before,
#pinky.facing-left::before { animation: pinky-right 1s infinite; }
#pinky.facing-up::before   { animation: pinky-up    1s infinite; }
@keyframes pinky-right {
	0%   { background-image: url('images/pinky/right1.png'); }
	25%  { background-image: url('images/pinky/right2.png'); }
	50%  { background-image: url('images/pinky/right3.png'); }
	75%  { background-image: url('images/pinky/right4.png'); }
	100% { background-image: url('images/pinky/right1.png'); }
}
@keyframes pinky-up {
	0%   { background-image: url('images/pinky/up1.png'); }
	25%  { background-image: url('images/pinky/up2.png'); }
	50%  { background-image: url('images/pinky/up3.png'); }
	75%  { background-image: url('images/pinky/up4.png'); }
	100% { background-image: url('images/pinky/up1.png'); }
}

#inky.facing-down::before { background-image: url('images/inky/down.png'); }
#inky.facing-right::before,
#inky.facing-left::before { animation: inky-right 1s infinite; }
#inky.facing-up::before   { animation: inky-up    1s infinite; }
@keyframes inky-right {
	0%   { background-image: url('images/inky/right1.png'); }
	25%  { background-image: url('images/inky/right2.png'); }
	50%  { background-image: url('images/inky/right3.png'); }
	75%  { background-image: url('images/inky/right4.png'); }
	100% { background-image: url('images/inky/right1.png'); }
}
@keyframes inky-up {
	0%   { background-image: url('images/inky/up1.png'); }
	25%  { background-image: url('images/inky/up2.png'); }
	50%  { background-image: url('images/inky/up3.png'); }
	75%  { background-image: url('images/inky/up4.png'); }
	100% { background-image: url('images/inky/up1.png'); }
}

#clyde.facing-down::before { background-image: url('images/clyde/down.png'); }
#clyde.facing-right::before,
#clyde.facing-left::before { animation: clyde-right 1s infinite; }
#clyde.facing-up::before   { animation: clyde-up    1s infinite; }
@keyframes clyde-right {
	0%   { background-image: url('images/clyde/right1.png'); }
	25%  { background-image: url('images/clyde/right2.png'); }
	50%  { background-image: url('images/clyde/right3.png'); }
	75%  { background-image: url('images/clyde/right4.png'); }
	100% { background-image: url('images/clyde/right1.png'); }
}
@keyframes clyde-up {
	0%   { background-image: url('images/clyde/up1.png'); }
	25%  { background-image: url('images/clyde/up2.png'); }
	50%  { background-image: url('images/clyde/up3.png'); }
	75%  { background-image: url('images/clyde/up4.png'); }
	100% { background-image: url('images/clyde/up1.png'); }
}
